:root {
  --height-header: 60px;
  --height-todolist: 300px;
  --height-todolist-header: 30px;

  --width-todolist: 400px;

  --color-green: rgb(30, 255, 0);
  --color-red-button: rgb(148, 21, 21);
  --color-red-li-hover: rgb(27, 172, 8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  user-select: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
