<main class="content">
  <section class="todolist">
    <header class="todolist__header">todo list</header>
    <input
      class="todolist__input"
      [(ngModel)]="todotitle"
      #input
      (keyup.enter)="onAddTodo(input.value)"
    />
    <ul id="todolist_container" *ngIf="todos$ | async as todos">
      <app-todo-item
        *ngFor="let item of todos"
        [item]="item"
        [hello]="'hi'"
        (deleteItem)="deleteTodo($event)"
      ></app-todo-item>
      <!-- <li></li> -->
    </ul>
  </section>
</main>

<!-- <div class="container">Hello</div> -->
