* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}


.item {
    height: 50px;
    width: 50px;
    border: solid 10px black;
    /* margin: 10px; */
    background-color: bisque;
}

.container {
    display: flex;
    /* flex-direction: row; */
    
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* justify-content: center; */
    
}

